.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: #0b1d3c;
  justify-content: flex-end;
  /* color: #2c558a */
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 -20px -20px -20px;
  align-self: flex-end;
  width: calc(100% + 40px);
}

.mainImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 20px 0;
  margin: auto 0;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  line-height: 1.3;
}

.titleMarck {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 20px 0;
  line-height: 1.3;
  font-family: 'Marck Script', cursive;
}

.titleCaveat {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  line-height: 1.3;
  font-family: 'Caveat', cursive;
}

.button {
  margin-top: 20px;
  background-color: #2196f3
}
