.text {
  text-align: left;
  /* padding: 5px 16px 20px; */
}

.text__text {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  /* margin: 8px 0 0; */
  white-space: pre-line;
}

.text__hometext {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  /* margin: 8px 0 0; */
  white-space: pre-line;
}

.text--clickable {
  cursor: pointer;
  transition: opacity 0.2s;
}

.text--clickable .text__text {
  text-decoration: underline dashed;
  text-underline-offset: 3px;
}

.text--clickable:hover {
  opacity: 0.7;
}

.text--clickable:active {
  opacity: 0.5;
}
