.header2 {
  text-align: left;
  /* padding: 54px 16px 20px; */
}

.header2__title-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header2__icon {
  display: flex;
  align-items: center;
}

.header__title2 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.header__subtitle2 {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  /* margin: 8px 0 0; */
}
