.header {
  text-align: left;
  /* padding: 54px 16px 70px; */
  padding: 0;
}

.header__title {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.header__subtitle {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  /* margin: 8px 0 0; */
}
