.header {
  text-align: left;
  /* padding: 54px 16px 70px; */
  padding: 0;
  /* font-family: 'Caveat', cursive; */
}

.header__title {
  color: #0a1d3c;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.header__subtitle {
  color: #0a1d3c;
  font-size: 20px;
  font-weight: 400;
  /* margin: 8px 0 0; */
}
