.custom-tabbar {
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 20px;
  /* background: rgba(30, 30, 30, 0.85); */
  /* background: rgba(23,24,21, 0.95); */
  background: rgba(10,29,60, 0.95);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  z-index: 100;
}

.custom-tabbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.2s ease;
  /* color: rgba(255, 255, 255, 0.5); */
  color: rgba(255, 255, 255,0.3);
}

.custom-tabbar__item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.custom-tabbar__item--active {
  color: #ffffff;
  background-color: rgb(35,51,75);
}

.custom-tabbar__icon {
  font-size: 24px;
}
